{% extends "page.html" %}
{% block title %}Search Results | {% endblock %}
{% set summarise = True %}


{% block content %}

<article>
    <header>
        <h1>Search</h1>
    </header>
    <div class="search-input">
        <gcse:search></gcse:search>
        <!-- <gcse:searchbox-only resultsUrl="/search/" newWindow="false" queryParameterName="q"></gcse:searchbox-only> -->
    </div>
    <!--<div class="search-results">
        <gcse:searchresults-only></gcse:searchresults-only>
    </div> -->
</article>

<hr>

{% if GOOGLE_ADSENSE and GOOGLE_ADSENSE.ads.index_bottom %}
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle ads-responsive"
       data-ad-client="{{ GOOGLE_ADSENSE.ca_id }}"
       data-ad-slot="{{ GOOGLE_ADSENSE.ads.index_bottom }}"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
{% endif %}


{% endblock %}
