{% extends "base.html" %}
{% block title %} &ndash; {{ _('Archives') }}{% endblock %}

{% block content %}
<article class="single">
  <header>
    <h1>{{ _('Archives') }}</h1>
  </header>
  <div>
    <dl>
      {% for group in dates|groupby('date')|sort(reverse=True) %}
        {% for article in group.list|sort(attribute='title') %}
          {% if loop.first %}
            <dt>{{ article.locale_date }}</dt>
          {% endif %}
          <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
        {% endfor %}
      {% endfor %}
    </dl>
  </div>
</article>
{% endblock %}
